.proficiency__indicator
	+lazyPicture({
		src: `${baseDir}/images/levels.svg`,
		alt: 'Уровень',
	}).proficiency__indicator-image

	.proficiency__indicator-arrow.js-indicator-arrow

.proficiency__counter
	.proficiency__counter-text
		| Мой уровень владения #[br]
		| Java Script

	.proficiency__counter-numbers.js-knowledge-counter
		| 0
