.proficiency {
	&__indicator {
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: 1.2rem;
	}

	&__indicator-image {
		width: 100%;
	}

	&__counter {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__counter-text {
		line-height: 1.5;
		font-weight: 900;
		font-size: 15px;
	}

	&__counter-numbers {
		font-size: 30px;
		color: $blue-fonts;
	}

	&__indicator-arrow {
		position: absolute;
		left: 50%;
		bottom: -54px;
		transform: translateX(-50%) rotate(270deg);
		width: 20px;
		height: 110px;
		background-image: url("../images/arrow.svg");
		background-repeat: no-repeat;
		transition: transform 1s $easing-back-out;
	}

	@include tablet-test {
		display: flex;

		&__indicator {
			margin-right: 4.2rem;
			margin-bottom: 0;
			padding: 40px 0 55px;
		}

		&__indicator-arrow {
			bottom: 4px;
		}

		&__counter {
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			padding-top: 2.8rem;
		}

		&__counter-text {
			margin-bottom: 9px;
			font-size: 17px;
		}

		&__counter-numbers {
			font-size: 49px;
			font-weight: 900;
		}
	}
}
