-
	const personalData =
		{
			'имя': 'Илья Дубиневич',
			'дата рождения': '',
			'город': '',
			'контактные данные': 'Telegram: @ilya_river',
		}
-
	const checkboxesName =
			['HTML5','CSS3','БЭМ','SASS','LESS','GULP', 'VANILLAJS','ANGULAR','JQUERY','GIT','FOUNDATION','BOOTSTRAP']

main.test
	.container
		include test/questionnaire
