-
	const personalData =
		{
			'имя': 'Илья Дубиневич',
			'дата рождения': '',
			'город': '',
			'контактные данные': 'Telegram: @ilya_river',
		}
-
	const checkboxesName =
			['HTML5','SASS','VANILLAJS','GIT','CSS3','LESS','ANGULAR','FOUNDATION','БЭМ','GULP','JQUERY','BOOTSTRAP']

main.test
	.container
		include test/questionnaire
